#title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(-30px) ; /* Adjust transformations */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}  

#title-container {
    background-color: lightblue;
    height: 100px;
    border-radius: 25px;
}

.header-profile-picture{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35px;
    right: 19%
}

.header-login-message {
    position: absolute;
    top: 35px;
    left: 82%

}

.home-button {
    background-color: lightblue;
    border-color: black;
    border-radius: 5px;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 2%;
    @media (max-width: 728px) {
        width: 10%;
    }

}

.users-button {
    background-color: lightblue;
    border-color: black;
    border-radius: 5px;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 3%;
    @media (max-width: 768px) {
        width: 10%;
    }

}