#title {
    text-align: center;
    margin-top: 50px;
    transform: translateY(30px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#title-container {
    background-color: lightblue;
    height: 100px;
    border-radius: 25px;
}

.home-button {
    background-color: lightblue;
    border-color: black;
    border-radius: 5px;
    font-size: 30px;
    position: left, fixed;
    transform: translateY(-30px) translateX(15px);

}